venv/
__pycache__/
*.pyc
.env
.DS_Store
*.log
mlruns/
*.parquet
lakehouse/checkpoints/
lakehouse/bronze/user_events
lakehouse/bronze/checkpoints
lakehouse/silver/user_events
lakehouse/gold/revenue_per_hour
lakehouse/gold/user_metrics
lakehouse/gold/conversion_rate
lakehouse/gold/top_products